parameters:
    level: max
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - src
        - tests/Behat

    excludes_analyse:

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\./'
        - '/^Call to an undefined method .*PHPUnit\\Framework\\MockObject\\MockObject.*\:\:(expects|method)\(\)\.$/'
